@import "tailwindcss";
@tailwind utilities;

@theme {
    --breakpoint-xmd: 69rem;
}

.wysiwyg-output > blockquote,
.wysiwyg-output > dl,
.wysiwyg-output > dd,
.wysiwyg-output > h1,
.wysiwyg-output > h2,
.wysiwyg-output > h3,
.wysiwyg-output > h4,
.wysiwyg-output > h5,
.wysiwyg-output > h6,
.wysiwyg-output > hr,
.wysiwyg-output > figure,
.wysiwyg-output > p,
.wysiwyg-output > pre {
    margin: revert;
}

.wysiwyg-output > ol,
.wysiwyg-output > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.wysiwyg-output > table {
    border-collapse: revert;
}

.wysiwyg-output > h1,
.wysiwyg-output > h2,
.wysiwyg-output > h3,
.wysiwyg-output > h4,
.wysiwyg-output > h5,
.wysiwyg-output > h6 {
    font-size: revert;
    font-weight: revert;
}

.wysiwyg-output a {
    text-decoration: underline;
    color: #4b9afa;
}

.wysiwyg-output-output > blockquote,
.wysiwyg-output-output > dl,
.wysiwyg-output-output > dd,
.wysiwyg-output-output > h1,
.wysiwyg-output-output > h2,
.wysiwyg-output-output > h3,
.wysiwyg-output-output > h4,
.wysiwyg-output-output > h5,
.wysiwyg-output-output > h6,
.wysiwyg-output-output > hr,
.wysiwyg-output-output > figure,
.wysiwyg-output-output > p,
.wysiwyg-output-output > pre {
    margin: revert;
}

.wysiwyg-output-output > *:last-child {
    margin-bottom: 0;
}

.wysiwyg-output-output > ol,
.wysiwyg-output-output > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.wysiwyg-output-output > table {
    border-collapse: revert;
}

.wysiwyg-output-output > h1,
.wysiwyg-output-output > h2,
.wysiwyg-output-output > h3,
.wysiwyg-output-output > h4,
.wysiwyg-output-output > h5,
.wysiwyg-output-output > h6 {
    font-size: revert;
    font-weight: revert;
}

.wysiwyg-output-output blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.wysiwyg-output-output a {
    text-decoration: #4b9afa;
    color: blue;
}

.wysiwyg-output-output a.hashtag {
    background-color: #eaf4ff;
    color: #4156e2;
}
